*{
    font-family: Garamond;
    color: white;
}
header{
    background-color: Indigo;
    text-align: center;
    padding: 2px;
}
#lewy, #prawy{
    background-color: indigo;
    height: 600px;
    float: left;
}
main{
    background-color: black;
    height: 600px;
    overflow: visible;
    float: left;
}
@media screen and (min-width: 800px) {
    #lewy, #prawy{
        width: 20%;
        float: left;
    }
    main{
        width: 60%;
        float: left;
    }
}
@media screen and (max-width:800px) {
    #lewy,#prawy,main{
        clear: both;
        display: block;
    }
}
footer{
    background-color: indigo;
    height: 150px;
}
.punkty{
    background-color: tomato;
    border-radius: 50%;
    padding: 5px;
}